.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s ease;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 0.5rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #34495e;
}

#name {
  margin-top: 12px;
  width: 250px;
  height: 25px;
  background-color: #2c3e50;
  color: white;
  border: 0;
  border-radius: 5px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.651);
}

#name:focus {
  border: 0;
}